.navbar {
  background: #9f026e;
  color: #efe6e6;
  border-bottom: 1px solid #8e0262;
  height: 5.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.4s linear;
  z-index: 1; 
}

.hidden {
  height: 5.5rem;
  width: 100%;
  z-index: 40;
  position: fixed;
  top: -80px;
  transition: 0.4s linear;
}

.navbar-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.35rem;
  padding: 0.5rem;
  text-align: center;
}

.collapse {
  display: none;
}

.toggle-navbar {
  display: none;
}

.navbar-toggler {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  color: #efe6e6;
  background: transparent;
  border: 1px solid transparent;
  position: relative;
  transition: ease-in-out 0.8s;

  i {
    height: 2rem;
    width: 2rem;
  }

  .closed {
    .icon-left {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotateY(0deg);
      transition: ease-in-out 0.5s;
    }

    .toggle-navbar {
      position: absolute;
      right: -3.5rem;
      top: 3rem;
      height: 0;
      width: 0;
      transition: width 0.5s ease-in-out;
    }

    .icon-right {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotateY(180deg);
      transition: ease-in-out 0.5s;
      color: transparent;
    }
  }
  
  .open {
    .icon-left {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotateY(180deg);
      transition: ease-in-out 0.5s;
      color: transparent;
    }

    .icon-right {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotateY(0deg);
      transition: ease-in-out 0.5s;
      color: #efe6e6;
    }

    .toggle-navbar {
      display: block;
      position: absolute;
      right: -3.5rem;
      top: 3rem;
      border-radius: 8px 0 0 8px;
      padding: 1rem 0;
      width: 350px;
      background: #9f026df8;
      transition: width 0.5s ease-in-out;
    }
  }
  
}

.navbar-collapse {
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}

.nav-links {
  list-style: none;

  li {
    display: block;
    cursor: pointer;
    padding: 0.5rem 0;
    border-bottom: 2px solid transparent;
  }

  li:hover,
  .active {
    color: #ffffff;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: #efe6e6;
    font-size: 0.95rem;
  }
}

.dogs-dropdown i {
  display: none;
}


@media only screen and (min-width: 600px) {
  .navbar-toggler {
    .open {
      .toggle-navbar {
        right: -4rem;
      }
    }
    
  }
  
}


@media only screen and (min-width: 768px) {
  .logo-link {
    font-size: 1.5rem;
  }

  .navbar-toggler {
    .open {
      .toggle-navbar {
        right: -5rem;
      }
    }
    
  }
}


@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0.5rem;
    height: 6.5rem;
  }

  .hidden {
    height: 6.5rem;
    top: -120px;
  }

  .navbar-container {
    width: 100%;
    padding: 0 0.2rem;
    display: block;
    text-align: center;
  }

  .logo-link {
    font-size: 1.5rem;
    margin: auto;
  }

  .navbar-toggler {
    display: none;
  }

  .collapse:not(.show) {
    display: flex;
    justify-content: center;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .nav-links {
    li {
      word-wrap: break-word;
      margin: 0;
      padding: 0 1rem;
      border-right: 2px solid #efe6e6;
      border-radius: 2px;

      &:hover {
        font-weight: 500;
      }
    }

    .active {
      border-bottom: 2px solid #efe6e6;
      font-weight: 500;
    }

    .last {
      border-right: none;
    }

    a {
      text-decoration: none;
      color: #efe6e6;
      font-size: 1rem;
      padding-bottom: 0.3rem;
    }
  }
}


@media only screen and (min-width: 1200px) {
  .navbar-container {
    width: 90%;
  }
}


@media only screen and (min-width: 1400px) {
  .navbar-container {
    max-width: 1300px;
  }

  .logo-link {
    font-size: 1.5rem;
  }

  .nav-links li {
    padding: 0 1.5rem;
  }
}