* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #740074;
  background: #f9e4f2;
  font-size: 13px;
}

#page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}



/* Headers etc */
h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
}

/* Buttons */
.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #5a025a;
  background: #740074;
  color: #efe6e6;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.btn:hover {
  background: #5a025a;
  color: #fff;
}



/* Navbar */
.navbar {
  background: #9f026e;
  color: #efe6e6;
  border-bottom: 1px solid #8e0262;
  padding: 1rem;
  width: 100%;
  /* position: fixed;
  top: 0;
  transition: top 0.3s; */
}

.navbar-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
}

.logo-link,
.nav-links a {
  text-decoration: none;
  color: #efe6e6;
  font-size: 14px;
  padding: 0.5rem;
}

/* Footer */
.footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  background: #780253;
  color: #efe6e6;
  padding: 1rem;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social i {
  margin-left: 2rem;
  color: #efe6e6;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.social i:hover {
  color: #edb8e8;
}

/* Home */
.home-choice {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice {
  background: #7802533b;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #2a002a63;
  padding: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
  width: 40%;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.choice:hover {
  background: #ed92d280;
  box-shadow: 1px 1px 8px #2a002a63;
}

.choice a {
  text-decoration: none;
}

.choice a:focus {
  color: rgb(242, 69, 202);
}

.choice-image img {
  border-radius: 8px;
  width: 100%;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.choice-image img:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.choice-title {
  text-align: center;
  margin-top: 1rem;
}



/* Dogtraining */
.pink {
  background: rgb(249,228,242);
  background: linear-gradient(180deg, #f9e4f2 0%, #da68bd 30%, #d443b1 50%, #da68bd 70%, #f9e4f2 100%);
}



/* Dogs */
.dogs-img {
  padding: 1rem;
}

.dogs-img img {
  border-radius: 8px;
}

.dogs-text {
  padding: 0 2rem;
}

.dogs-text p {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.dogs-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem 1rem;
  list-style: none;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.dogs-list-item {
  border: 1px solid #fab9fa;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #2a002a63;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.dogs-list-item h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.dogs-list-item p {
  margin-bottom: 0;
  margin-left: 0;
}



/* Videos */
.video-content {
  padding: 3rem 2rem;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.youtube-video-container {
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}
.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}



/* Training */
.three-pics {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

.training-dog {
  width: 30%;
}

.training-img img {
  border-radius: 8px;
  display: block;
  margin: auto;
}

.dog-desc {
  width: 80%;
  margin: auto;
  margin-top: 0.5rem;

}

.training-text p {
  margin-bottom: 0.9rem;
}

.for-sale {
  padding-bottom: 0.5rem;
  font-size: small;
}



/* Daycare */
.daycare-image {
  width: 60%;
  margin: auto;
}
.daycare-image img {
  width: 100%;
  border-radius: 8px;
}

.daycare-content {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.price-title {
  text-align: center;
  margin-bottom: 1rem;
}

.prices {
  display: flex;
  justify-content: space-around;
}

.price-list {
  list-style: none;
}



/* About */
.about-img img {
  border-radius: 8px;
  display: block;
  margin: auto;
}

.about-text {
  padding: 0.5rem 2rem;
}

.about-text p {
  margin-bottom: 0.5rem;
}



/* Connect */
.connect-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 4rem 3rem;
}

.form-item {
  margin-bottom: 1.2rem;
}

.form-item input,
.form-item label {
  display: block;
}

.form-item label {
  margin-bottom: 0.5rem;
  text-align: center;
}

.form-item input,
.form-item textarea {
  width: 20rem;
  font-size: 1rem;
  color: #740074;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #f9f9fb;
  box-shadow: 1px 1px 5px #2a002a63;
}

.form-item input:focus,
.form-item textarea:focus {
  outline: none;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.connect-details {
  display: block;
  justify-content: center;
  padding: 3rem;
}

.connect-items {
  display: block;
  align-items: center;
}

.connect-item {
  margin-bottom: 1rem;
}

.connect-item a {
  text-decoration: none;
  color: #740074;
  
}

.connect-map {
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #2a002a63;
  margin-bottom: 1rem;
}



@media only screen and (min-width: 600px) {
  html {
    font-size: 13px;
  }

  /* Dogs */
  .dogs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
    list-style: none;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
}



@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  /* Dogs */
  .dogs-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem 1rem;
    list-style: none;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
}



@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }

  .container {
    width: 80%;
  }
  .content {
    padding: 1rem;
  }
  

  /* Navbar */
  .navbar-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .logo-link,
  .nav-links a {
    text-decoration: none;
    color: #efe6e6;
    font-size: 14px;
    padding: 0.5rem;
  }


  
  /* Videos */
  .video-content {
    padding: 2rem 1rem;
  }

  .video-section {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  

  /* Dogs */
  .dogs-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem 1rem;
    list-style: none;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }

  /* Videos */
  .video-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .youtube-video-container {
    width: 100%;
    height: 20%;
    overflow: hidden;
    padding-top: 56.25%;
  }



  /* About */
  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about-img img {
    margin: 0;
    display: block;
    margin-left: auto;
  }
  
  .about-text {
    padding: 1rem;
  }
  
  .about-text p {
    margin-bottom: 0.5rem;
  }
}