* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #740074;
  background: #f9e4f2;
}

.container {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

/* Headers */
h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.3rem;
}

/* Buttons */


/* Navbar */
.navbar {
  background: #9f026e;
  color: #efe6e6;
  padding: 1rem;
  width: 100%;
}

.navbar-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
}

.logo-link,
.nav-links a {
  text-decoration: none;
  color: #efe6e6;
  font-size: 14px;
  padding: 0.5rem;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #780253;
  color: #efe6e6;
  padding: 1rem;
}

.footer-container {
  width: 90%;
  margin: auto;
}

/* Home */
.home-choice {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice {
  background: #7802533b;
  border: 1px solid #780253;
  border-radius: 8px;
  padding: 2rem;
  cursor: pointer;
  width: 40%;
}

.choice:hover {
  background: #ed92d280;
}

.choice-image img {
  border-radius: 8px;
  width: 100%;
}

.choice-title {
  text-align: center;
}

/* Videos */
.video-content {
  padding: 3rem 2rem;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.youtube-video-container {
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}
.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Daycare */
.daycare-image {
  width: 60%;
  margin: auto;
}
.daycare-image img {
  width: 100%;
  border-radius: 8px;
}

.daycare-content {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.price-title {
  text-align: center;
  margin-bottom: 1rem;
}

.prices {
  display: flex;
  justify-content: space-around;
}

.price-list {
  list-style: none;
}

/* About */


@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
    padding-bottom: 3rem;
  }
  .content {
    padding: 1rem;
  }
  

  /* Headers */
  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }


  /* Navbar */

  .navbar-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .logo-link,
  .nav-links a {
    text-decoration: none;
    color: #efe6e6;
    font-size: 14px;
    padding: 0.5rem;
  }
  
  /* Videos */
  .video-content {
    padding: 2rem 1rem;
  }

  .video-section {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1200px) {

  /* Videos */
  .video-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .youtube-video-container {
    width: 100%;
    height: 20%;
    overflow: hidden;
    padding-top: 56.25%;
  }
}